@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }
  
body {
  font-family: 'Poppins', sans-serif;
  background-color: #121212;
  color: white; }

.barra_lateral {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100vh;
  background: linear-gradient(#3c096c, #3c096c, #19082a);
  padding: 20px 20px 20px 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  transition: transform 0.3s ease;
  z-index: 999; }

.barra_lateral.oculta {
  transform: translateX(-100%); }

.barra_lateral h1 {
  color: #c8b8db;
  margin-bottom: 30px; }

.barra_lateral a {
  text-decoration: none;
  color: white;
  margin-bottom: 15px;
  padding: 10px; }

.barra_lateral .link {
  text-decoration: none;
  color: white;
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 5px;
  transition: background 0.3s; }

.barra_lateral .link:hover {
  background-color: #582089;
  color: white; }

.barra-footer {
  margin-top: 230px; }

.barra-footer a {
  text-decoration: none;
  color: white;
  padding: 10px;
  border-radius: 5px;
  display: block;
  transition: background 0.3s; }

.barra-footer a:hover {
  background-color: #c8b8db;
  color: #3c096c; }

.main {
  padding: 30px;
  padding-left: 290px;
  transition: padding-left 0.3s ease; }

.main.expandida {
  padding-left: 30px; }

.card {
  background-color: #1e1e1e;
  border-left: 5px solid #3c096c;
  border-radius: 8px;
  margin-bottom: 20px;
  padding: 20px;
  height: 160px; }

.card a { 
  display: inline-block;
  margin-top: 20px;
  padding: 10px 25px;
  background: #c8b8db;
  color: #121212;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 1px;
  text-decoration: none;
  border-radius: 40px;
  transition: 0.3s ease-in-out;
  -webkit-box-shadow: -3px 3px 35px -5px rgba(200,184,219,1);
  -moz-box-shadow: -3px 3px 35px -5px rgba(200,184,219,1);
  box-shadow: -3px 3px 35px -5px rgba(200,184,219,1); }

.card a:hover {
    transform: translateY(-8px);
    color: #121212; }

.botoes-fixos {
  position: fixed;
  bottom: 20px;
  left: 20px;
  display: flex;
  gap: 25px;
  z-index: 1000; }

.toggle-btn {
  background-color: #19052c;
  color: white;
  border: none;
  padding: 10px 15px;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s; }

.toggle-btn:hover {
  background-color: #280c42; }

.btn-fixo {
  text-decoration: none;
  color: white; }


/*CARROUSEL*/
.carousel {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 1500px;
  max-height: 1000px;
  overflow: hidden;
  border-radius: 30px;
  margin-bottom: 20px; }

.carousel-inner {
  display: flex;
  transition: transform 0.5s ease-in-out; }

.carousel-item {
  min-width: 100%;
  position: relative;
  text-align: center;
  color: #fff; }

.carousel-item img {
  width: 100%;
  height: 420px;
  object-fit: cover; }

.prev, .next {
  position: absolute;
  top: 85%;
  background: #3c096c65;
  border: none;
  color: #c8b8db;
  font-size: 20px;
  padding: 15px 15px;
  border-radius: 20px; }

.prev { left: 15px; }
.next { right: 15px; }

/* --- Estilo do Modal --- */
.modal-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.6);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 2000; }

.modal-overlay.aberta {
    display: flex; }

.modal {
    width: 100%;
    max-width: 400px;
    max-height: 650px;
    background: #1a1525;
    border: 1px solid #231935;
    border-radius: 16px;
    padding: 22px;
    box-shadow: 0 10px 40px rgba(0,0,0,0.45);
    animation: surgir 0.2s ease-out;
    position: relative; }

@keyframes surgir {
    from { transform: translateY(10px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; } }

.modal h2 {
    margin-bottom: 10px;
    color: #c8b8db; }

.modal-fechar {
    position: absolute;
    right: 16px;
    top: 10px;
    background: transparent;
    color: #c8b8db;
    border: none;
    font-size: 15px;
    line-height: 1;
    cursor: pointer; }

#formPreferencias .grupo {
    display: grid;
    gap: 8px;
    margin: 12px 0; }

#formPreferencias label, #formPreferencias span {
    font-weight: 500; 
    font-size: 13px; }

#formPreferencias input[type="mail"], input[type="text"], input[type="password"], textarea {
    background: #120e1b;
    border: 1px solid #2a1f3d;
    border-radius: 10px;
    padding: 10px 12px;
    color: #ffffff; 
    font-size: 12px;}

.acoes {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 6px; }

.btn-primario {
    display: inline-block;
    padding: 10px 18px;
    background: #c8b8db;
    color: #121212;
    font-weight: 600;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: transform .15s ease; }

.btn-primario:hover {
    transform: translateY(-2px); }

.btn-secundario {
    display: inline-block;
    padding: 10px 18px;
    background: transparent;
    color: #c8b8db;
    border: 1px solid #2a1f3d;
    border-radius: 12px;
    cursor: pointer; }

.col-inputs {
    display: flex;
    flex-direction: column;
    flex: 2; }
