# ==============================================================================
#  Dependências do Projeto Fitness Routine
# ==============================================================================
# Para instalar todas as dependências, execute no terminal:
# pip install -r requirements.txt
# ------------------------------------------------------------------------------

# Framework principal da web
# A versão foi especificada pelo arquivo settings.py gerado.
Django

# Biblioteca para construir a API RESTful sobre o Django
djangorestframework

# Extensão do Django REST Framework para autenticação baseada em JSON Web Tokens (JWT)
djangorestframework-simplejwt

# Middleware para gerenciar cabeçalhos de Cross-Origin Resource Sharing (CORS)
# Essencial para permitir que o front-end se comunique com a API
django-cors-headers

# SDK oficial do Google para interagir com a API do Gemini
# Usado para a geração de treinos baseada em IA
google-generativeai

# Utilitário para carregar variáveis de ambiente de um arquivo .env
# Recomendado para gerenciar chaves de API (como a do Gemini) em desenvolvimento local
python-dotenv

gunicorn

whitenoise

Pillow
